---
import '../../app/globals.css'
import Main from '../components/MainComponents.astro'
import { ViewTransitions } from 'astro:transitions'
import Layout from '../layouts/Layout.astro'
---

<Layout title="yud0uhu.dev">
  <main transition:animate="slide" class="h-screen content-center bg-radial-gradient">
    <Main />
  </main>
</Layout>
