---

---

<div class="w-full justify-start items-start gap-2.5 inline-flex">
  <div
    class="w-full h-64 bg-gradient-to-b from-teal-500 via-emerald-300 to-yellow-50"
  >
  </div>

  <!-- Hamburger Menu Container -->
  <div class="md:hidden absolute top-2 right-2 cursor-pointer">
    <!-- Hamburger menu icon or toggle button -->
    <div>☰</div>
  </div>

  <div class="hidden md:block md:right-0 right-[861px] top-[29px] absolute">
    <!-- Navigation Links (Visible on Desktop) -->
    <div class="w-96 h-8 justify-start items-start gap-16 inline-flex">
      <div
        class="w-28 h-8 text-amber-50 text-2xl font-normal font-['Noto Sans'] hover:text-[#FF4F4B] hover:underline"
      >
        about me
      </div>
      <div
        class="w-16 h-8 text-amber-50 text-2xl font-normal font-['Noto Sans'] hover:text-[#FF4F4B] *:hover:underline"
      >
        work
      </div>
      <div
        class="w-28 h-8 text-amber-50 text-2xl font-normal font-['Noto Sans'] hover:text-[#FF4F4B] hover:underline"
      >
        feed
      </div>
    </div>
  </div>

  <!-- Mobile Navigation Links (Initially Hidden) -->
  <div
    class="hidden md:hidden absolute top-14 right-2 w-40 bg-white border border-gray-300 p-2 rounded"
  >
    <div
      class="text-amber-50 text-xl font-normal font-['Noto Sans'] hover:text-[#FF4F4B] hover:underline"
    >
      about me
    </div>
    <div
      class="text-amber-50 text-xl font-normal font-['Noto Sans'] hover:text-[#FF4F4B] hover:underline"
    >
      work
    </div>
    <div
      class="text-amber-50 text-xl font-normal font-['Noto Sans'] hover:text-[#FF4F4B] hover:underline"
    >
      feed
    </div>
  </div>

  <div class="w-full absolute flex flex-col items-center justify-center top-[156px]">
    <div class="text-stroke text-8xl">about me</div>
    <img class="w-80 mt-4 rounded-full" src="https://pbs.twimg.com/profile_images/1255840795157860352/IyDL33uk_400x400.jpg" />
    <p class="text-xl font-normal mt-4">
      トライフォースの勇者です
    </p>
  </div>  
</div>

<style>
  .text-stroke {
    color: #fefbeb;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff4f4b;
    font-family: 'Monomaniac One';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    font-family: 'Noto Sans JP';
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuIcon = document.querySelector('.top-2.right-2.cursor-pointer')
    const mobileMenu = document.querySelector(
      '.md\\:hidden.absolute.top-14.right-2'
    )

    menuIcon?.addEventListener('click', function () {
      mobileMenu?.classList.toggle('hidden')
    })
  })
</script>
