---
import { cn } from "../lib/utils.ts";
---

<div
  class={cn([
    "content-center",
    "flex-shrink-0",
    "absolute",
    "top-1/2",
    "left-1/2",
    "transform",
    "-translate-x-1/2",
    "-translate-y-1/2",
    "z-10",
  ])}
>
  <p class={cn(["md:text-8xl", "text-6xl", "text-stroke"])}>yud0uhu.dev</p>
  <p class={cn(["text-xl", "text-stroke", "text-center"])}>©0yu inc.</p>
</div>
