---
import MelonSodaAnimation from './MelonSodaAnimation.svelte'
import { fade } from 'astro:transitions'
---

<div
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center"
>
  <div
    class="flex-shrink-0 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10"
  >
    <p
      class="md:text-8xl text-6xl text-stroke"
      transition:animate={fade({ duration: '2s' })}
    >
      yud0uhu.dev
    </p>
    <p class="text-xl text-stroke text-center">©0yu inc.</p>
  </div>

  <div class="relative w-707 h-737">
    <MelonSodaAnimation client:only />
    <nav
      class="nav-links h-28 bg-opacity-20 bg-gray-300 rounded-full flex flex-col justify-center items-center"
    >
      <div class="mx-16 gap-x-8 inline-flex">
        <p
          class="hover:text-[#FF4F4B] text-[#FEFBEB] md:text-xl text-sm italic hover:underline"
        >
          <a href="/about/" data-astro-reload> about me </a>
        </p>
        <p
          class="hover:text-[#FF4F4B] text-[#FEFBEB] md:text-xl text-sm italic hover:underline"
        >
          <a href="/work/" data-astro-reload> work </a>
        </p>
        <p
          class="hover:text-[#FF4F4B] text-[#FEFBEB] md:text-xl text-sm italic hover:underline"
        >
          <a href="/work/" data-astro-reload> feed </a>
        </p>
      </div>
    </nav>
  </div>
</div>

<style>
  .text-stroke {
    color: #fefbeb;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff4f4b;
    font-family: 'Monomaniac One';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    font-family: 'Noto Sans JP';
  }
</style>
