---
import MelonSodaAnimation from "./MelonSodaAnimation.svelte";
import { cn } from "../lib/utils.ts";
---

<div class={cn(["relative", "w-fit", "h-screen", "content-center"])}>
  <MelonSodaAnimation client:only />
  <nav
    class={cn([
      "z-100",
      "nav-links",
      "h-28",
      "m-2",
      "bg-opacity-20",
      "bg-gray-300",
      "rounded-full",
      "flex",
      "flex-col",
      "justify-center",
      "items-center",
    ])}
  >
    <div class={cn(["mx-16", "gap-8", "md:inline-flex"])}>
      <p
        class={cn([
          "hover:text-[#FF4F4B]",
          "text-[#FEFBEB]",
          "text-xl",
          "italic",
          "hover:underline",
          "text-center",
        ])}
      >
        <a href="/about/" data-astro-reload> about me </a>
      </p>
      <p
        class={cn([
          "hover:text-[#FF4F4B]",
          "text-[#FEFBEB]",
          "text-xl",
          "italic",
          "hover:underline",
          "text-center",
        ])}
      >
        <a href="/work/" data-astro-reload> work </a>
      </p>
    </div>
  </nav>
</div>

<style>
  @media (max-width: 768px) {
    .nav-links {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
