---
import { cn } from "../lib/utils.ts";
import GetWorks from "./GetWorks.svelte";
import NavigationMenu from "./NavigationMenu.svelte";

import { getList, getDailyUIList } from "../lib/microcms";
import GetDailyUI from "./GetDailyUI.svelte";

const worksResponse = await getList({
  fields: [
    "productTitle",
    "productData",
    "githubUrl",
    "productDatail",
    "productComposition",
    "productImage",
    "productUrl",
  ],
});

const dailyUIResponse = await getDailyUIList({
  fields: ["title", "image", "figma"],
});
---

<div
  transition:animate="slide"
  class={cn([
    "slide",
    "w-full",
    "h-screen",
    "content-center",
    "bg-amber-50",
    "justify-start",
    "items-start",
    "gap-2.5",
    "inline-flex",
    "flex-col",
  ])}
>
  <div
    class={cn([
      "w-full",
      "h-64",
      "bg-gradient-to-b",
      "from-teal-500",
      "via-emerald-300",
      "to-yellow-50",
      "absolute",
      "top-0",
      "left-0",
      "z-0",
    ])}
  >
  </div>

  <NavigationMenu />

  <div
    class={cn([
      "flex",
      "w-full",
      "relative",
      "flex-col",
      "items-center",
      "justify-center",
      "top-40",
    ])}
  >
    <p class={cn(["text-stroke", "text-8xl"])}>Work</p>

    <div
      class={cn([
        "bg-amber-50",
        "w-full",
        "flex",
        "flex-col",
        "items-center",
        "justify-center",
      ])}
    >
      <p class={cn(["text-stroke", "md:text-4xl", "text-base"])}>Engineering</p>
      <GetWorks client:only {worksResponse} />
      <p class={cn(["text-stroke", "md:text-4xl", "text-base"])}>
        Daily UI Challenge
      </p>
      <GetDailyUI client:only {dailyUIResponse} />
    </div>
  </div>
</div>
