---
import { cn } from "../lib/utils.ts";
import GetWorks from "./GetWorks.svelte";
import NavigationMenu from "./NavigationMenu.svelte";

import { getList } from "../lib/microcms";

const response = await getList({
  fields: [
    "productTitle",
    "productData",
    "githubUrl",
    "productDatail",
    "productComposition",
    "productImage",
    "productUrl",
  ],
});
---

<div
  transition:animate="slide"
  class={cn([
    "slide",
    "w-full",
    "h-screen",
    "content-center",
    "bg-amber-50",
    "justify-start",
    "items-start",
    "gap-2.5",
    "inline-flex",
    "flex-col",
  ])}
>
  <div
    class={cn([
      "w-full",
      "h-64",
      "bg-gradient-to-b",
      "from-teal-500",
      "via-emerald-300",
      "to-yellow-50",
      "absolute",
      "top-0",
      "left-0",
      "z-0",
    ])}
  >
  </div>

  <NavigationMenu />

  <div
    class={cn([
      "flex",
      "w-full",
      "relative",
      "flex-col",
      "items-center",
      "justify-center",
      "top-40",
    ])}
  >
    <div class={cn(["text-stroke", "text-8xl"])}>Work</div>

    <GetWorks client:only {response} />
  </div>
</div>
